@font-face {
  font-family: 'joomsubscription';
  src: url('../font/joomsubscription.eot?29289815');
  src: url('../font/joomsubscription.eot?29289815#iefix') format('embedded-opentype'),
       url('../font/joomsubscription.woff2?29289815') format('woff2'),
       url('../font/joomsubscription.woff?29289815') format('woff'),
       url('../font/joomsubscription.ttf?29289815') format('truetype'),
       url('../font/joomsubscription.svg?29289815#joomsubscription') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'joomsubscription';
    src: url('../font/joomsubscription.svg?29289815#joomsubscription') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "joomsubscription";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-money:before { content: '\e800'; } /* '' */
.icon-dollar:before { content: '\e801'; } /* '' */
.icon-folder:before { content: '\e802'; } /* '' */
.icon-flag:before { content: '\e803'; } /* '' */
.icon-money-1:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-chart-line:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-arrow-down-3:before { content: '\e809'; } /* '' */
.icon-arrow-up-3:before { content: '\e80a'; } /* '' */
.icon-upload:before { content: '\e80b'; } /* '' */
.icon-list-alt:before { content: '\e80c'; } /* '' */
.icon-cc-visa:before { content: '\e80d'; } /* '' */
.icon-menu-2:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-trash:before { content: '\e811'; } /* '' */
.icon-remove:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-th-large:before { content: '\e814'; } /* '' */
.icon-th-list:before { content: '\e815'; } /* '' */
.icon-wrench:before { content: '\e816'; } /* '' */
.icon-info-circled:before { content: '\e817'; } /* '' */
.icon-comment:before { content: '\e818'; } /* '' */
.icon-clock:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-publish:before { content: '\e81b'; } /* '' */
.icon-unpublish:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-save:before { content: '\e81e'; } /* '' */
.icon-edit:before { content: '\e81f'; } /* '' */